:root {
  --main-font-family: "Amatic SC";
  --main-color: #fff;
  --main-color-2: #1f1e1e;
  --main-color-3: #C4C4C4;
  --main-color-4: #886239;
  --btn-color: rgba(255, 255, 255, 0.1);
  --btn-hover-color: rgba(74, 44, 21, 0.7);
  --border-color: #d9d9de;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: var(--main-font-family);
  font-size: 25px;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 15px 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.logo{
  display: flex;
  align-items: center;
  text-align: left;
}

.logo__img{
  margin-right: 10px;
}

.logo__text--mini{
  font-size: 22px;
}

.header__phone {
  font-weight: 400;
}

.header__phone-number {
  font-weight: 700;
  margin-left: 19px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.6s;
  border: 1px solid var(--main-color);
  background-color: var(--btn-color);
}

.header__phone-number:hover {
  background-color: #7A7F8F;
  /* background-color: var(--btn-hover-color); */
}

.menu {
  width: 100%;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 25px 0 25px;
  margin-top: 15px;
}

.menu__list {
  font-weight: 700;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
}

.menu__link {
  transition: 0.6s;
}

.menu__link:hover {
  opacity: 0.6;
}

.header__title {
  font-weight: 700;
  font-size: 180px;
  text-align: center;
  margin-bottom: auto;
}

.header__description {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.header__btn {
  font-weight: 700;
  font-size: 35px;
  display: inline-block;
  padding: 15px 40px 15px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  margin-bottom: 20px;
  transition: 0.6s;
  background-color: var(--btn-color);
}

.header__btn:hover {
  background-color: #C0A56E;
}

.header__arrow {
  text-align: center;
  margin: 0 auto;
  transition: 0.6s;
  width: 47px;
}

.header__arrow:hover {
  opacity: 0.6;
}

.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__img {
  display: block;
  border-top-left-radius: 30px;
}

.direction__text {
  border: 1px solid var(--border-color);
  color: var(--main-color-2);
  border-top: none;
  padding: 15px 20px;
  border-bottom-right-radius: 30px;
  font-size: 30px;
}

.travel-info {
  background-image: url(../images/travel-info-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.travel-info__title {
  margin-bottom: 50px;
}

.travel-info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
  text-align: center;
}

.travel-info__img {
  margin-bottom: 15px;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  color: var(--main-color-2);
  margin-bottom: 50px;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--border-color);
}

.popular__link {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}


.popular__link-title--big {
  font-size: 35px;
}

.popular__price {
  font-weight: 700;
  margin-top: auto;
}

.popular__country,
.popular__time {
  margin-bottom: 15px;
}

.map {
  padding-bottom: 100px;
}

.map__title {
  color: var(--main-color-2);
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  gap: 32px;
}

.about__title {
  color: var(--main-color-2);
  text-align: left;
  margin-bottom: 25px;
}

.about__text {
  color: var(--main-color-2);
  margin-bottom: 34px;
}

.about__link {
  color: var(--main-color-3);
  text-decoration: underline;
}

.about__popup {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 100px 0;
  background-color: #c7c0bd;
}

.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.gallery__link {
  text-decoration: underline;
  padding-right: 160px;
  transition: 0.6s;
}

.gallery__link:hover {
  opacity: 0.6;
}

.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.6s;
  position: absolute;
  top: -95px;
  right: 0;
}

.slick-prev {
  right: 60px;
}

.slick-btn:hover {
  opacity: 0.6;
}

.tour {
  padding: 100px 0;
  color: var(--main-color-2);
}

.tour__title {
  margin-bottom: 50px;
}

.tour__box {
  column-count: 2;
  gap: 50px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.tour__text {
  margin-bottom: 15px;
}

.tour__text--strong {
  font-weight: 700;
}

.tour__info {
  display: flex;
  justify-content: space-between;
}

.tour__info-item {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
}

.tour__info-item--big{
  font-size: 60px;
  color: var(--main-color-4);
  /* color: var(--main-color-2); */

}

.booking {
  color: var(--main-color-2);
  background-color: #eaeaea;
  padding: 75px 0;
}

.booking__title {
  margin-bottom: 43px;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.booking__input {
  width: 256px;
  height: 44px;
  border: 1px solid var(--border-color);
  padding: 11px 14px 12px;
  margin-bottom: 28px;
}

.booking__area {
  width: 100%;
  padding: 14px;
  height: 112px;
  border: 1px solid var(--border-color);
  resize: none;
  margin-bottom: 67px;
}

.booking__input::placeholder,
.booking__area::placeholder {
  font-family: var(--main-font-family);
  color: var(--border-color);
  font-size: 20px;
}

.booking__btn {
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-size: 25px;
  background-color: #c5beb6;
  border-radius: 30px;
  border: none;
  padding: 19px 65px 20px;
  cursor: pointer;
  transition: 0.6s;
}

.booking__btn:hover{
  background-color: var(--main-color-4);
}

.booking__label {
  text-decoration: underline;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}

.booking__checkbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid var(--main-color-3);
  border-radius: 2px;
  position: absolute;
  margin-left: -45px;
}

.booking__checkbox:checked+.booking__checkbox-style::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--main-color-3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: var(--main-color-2);
  padding: 80px 0;
}

.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  /* font-size: 14px; */
  /* line-height: 130%; */
  max-width: 830px;
  margin: 0 auto;
}

.footer__info {
  width: 225px;
}

.footer__box-title {
  margin-bottom: 7px;
}

.footer__copy {
  margin-bottom: 3px;
  opacity: 0.6;
}

.footer__link {
  text-decoration: underline;
  opacity: 0.6;
  transition: 0.6s;
}

.footer__address {
  width: 165px;
}

.footer__address-text {
  opacity: 0.6;
}

.footer__contacts {
  width: 210px;
}

.footer__phone {
  opacity: 0.6;
  transition: 0.6s;
}

.footer__mail {
  opacity: 0.6;
  display: block;
  transition: 0.6s;
}

.footer__link:hover,
.footer__phone:hover,
.footer__mail:hover {
  opacity: 1;
}

.menu__btn {
  display: none;
}

@media (max-width: 1140px){
  .direction__inner{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .direction__img{
    width: 100%;
  }

  .about__inner{
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .gallery__item-img{
    width: 100%;
  }
}

@media (max-width: 990px) {
  .popular__items{
    min-height: 200px;
    gap: 10px;
  }

  .popular__link{
    min-height: 200px;
  }

  .tour__info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
  }
}

@media (max-width: 800px) {
  .header__phone-text {
    display: none;
  }

  .travel-info__items{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .popular{
    padding: 50px 0;
  }

  .popular__link{
    min-height: 320px;
  }

  .popular__link:nth-child(3),
  .popular__link:nth-child(6) {
  grid-column: auto;
  grid-row: auto;
  }

  .popular__items{
    grid-template-columns: repeat(2, 1fr);
  }

  .map{
    padding-bottom: 50px;
  }

  .map__iframe{
    height: 400px;
  }

  .about{
    padding-bottom: 50px;
  }

  .about__inner{
    grid-template-columns: 1fr;
  }

  .about__popup{
    min-height: 400px;
  }

  .gallery{
    padding-bottom: 50px;
  }

  .tour{
    padding: 50px 0;
  }

  .tour__title{
    margin-bottom: 40px;
  }

  .tour__box{
    column-count: 1;
  }

  .tour__info{
    grid-template-columns: repeat(2, 1fr);
  }

  .booking{
    padding: 50px 0;
  }

  .booking__input{
    width: 100%;
  }

  .booking__label{
    margin-top: -192px;
    margin-left: 50px;
    width: 100%;
  }

  .footer{
    padding: 50px 0;
  }

  .footer__logo{
    margin-bottom: 40px;
  }

  .footer__box{
    display: block;
    text-align: center;
  }

  .footer__info,
  .footer__address{
    margin: 0 auto 25px;
  }

  .footer__contacts{
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 120px;
  }

  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 107px;
    cursor: pointer;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #ffffff;
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #ffffff;
  }

  .menu__list {
    transform: translateY(-200%);
    display: block;
    background-color: var(--main-color-4);
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.6s;
  }

  .menu__list.menu__list--active{
    transform: translateY(0%);
  }

  .menu__link{
    display: block;
    padding: 10px;
    text-align: center;
  }

  .logo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  /* .header__top {
    justify-content: center;
  } */

  .menu {
    border: none;
  }

  .header__phone-number{
    margin-left: 0;
  }

  .direction__inner{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .direction{
    padding: 50px 0;
  }

  .travel-info__items{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .popular__items{
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__title{
    width: 100%;
    text-align: left;
  }

  .gallery__top{
    flex-wrap: wrap;
  }

  .gallery__item-inner{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 460px){
  .direction__inner,
  .travel-info__items,
  .tour__info{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 340px){
  .about__popup{
    min-height: 280px;
  }
}